* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Gilroy, sans-serif;
}

a {
  text-decoration: none;
  color: #3d3d3b;
}
ul {
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
}
.main-heading {
  font-size: 36px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  font-family: "Abhaya";
}

.services-cards {
  display: flex;
  justify-self: center;
  color: #3d3d3b;
  align-items: center;
  flex-wrap: wrap;
}
.aboutus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

@media screen and (max-width:920px){
  .aboutus-container{
    flex-direction: column;
  }
}

.whyus-container {
  text-align: center;
  margin: 100px 0px;
}

/*
.gallery-container-heading {
  text-align: center;
  color: rgb(51, 51, 51);
  font-family: "Abhaya";
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 60px;
}*/

.opinion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 170px;
  padding: 20px;
}
.opinion-img {
  width: 100%;
  max-width: 350px;
  border-radius: 16px;
}
.contact-us-container{
  padding: 20px;
}

.footer{
  margin-top: 70px;
  padding: 20px;
  display: flex;
}


.copyright{
  padding: 20px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justdail-logo{
  width: 30px;

}